.layui-input-block{
    display: inline-block;
    margin-left: 1%;
}

#search span{
    margin-right: 0.1%;
    margin-left: 0.5%
}

#searchBtn{
    margin-top: 10px;
}

.layui-form-item{
    text-align: right;
}
